.production-prediction-container {
  .prediction-container {
    position: relative;
    color: #000;

    .y-name {
      position: absolute;
      top: 40vh;
      left: -42px;
      transform: rotate(-90deg);
    }

    .x-name {
      position: absolute;
      bottom: -10px;
      left: calc(50% - 14px);
    }

    .chart-container {
      width: 100%;
      height: 75vh;
    }

    .source-manage {
      position: absolute;
      top: 47px;
      right: 50px;
      width: 240px;
    }

    .select-source {
      width: 150px;
    }
  }
}
