.login-container {
    position: relative;
    height: 100%;
    background: url("../images/login_bg.png") no-repeat;
    background-size: 100% 100%;
    .logo-container {
        position: absolute;
        top: -8px;
        left: 16px;
    }
    .login-module-container {
        position: absolute;
        top: 50%;
        left: 25%;
        width: 384px;
        margin-top: -200px;
        margin-left: -192px;
        background-color: #fff;
        border-radius: 3px;
    }
    .login-form {
        position: relative;
        padding: 48px 48px 10px;
        &::after {
            position: absolute;
            top: -16px;
            left: 84px;
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #fff;
            border-left: 8px solid transparent;
            content: " ";
        }
    }
    .login-form-item {
        margin-bottom: 32px;
        text-align: left;
        .gs-input {
            height: 48px;
        }
        .gs-input-inner {
            height: 46px;
        }
        .is-focus {
            box-shadow: none;
        }
        .gs-form-item-label {
            font-size: 14px;
        }
    }
    .login-btn {
        width: 100%;
        padding: 8px 16px;
        color: #fff;
        &:hover {
            border-color: transparent;
        }
    }
    .login-label-container {
        height: 70px;
        line-height: 70px;
        background-color: #102185;
        h2 {
            width: 190px;
            font-size: 16px;
            color: #fff;
            text-align: center;
        }
    }
}