$primary-color: #0073E8;

$primary-text: #409EFF;

$header-bg: #2d333f;

$primary-bg: #4977fc;

$tenant-color: #517dfd;

$graph-color: #4978FC;

$small-text-color: #5680F9;

$main-color: #4977fc;

$nav-gradient: linear-gradient(113deg, #F5F9FF 0%, rgba(255,255,255,0.00) 100%);

