$primary-color:#CE0D0A;

$primary-text: #CE0D0A;

$header-bg: #AD0000;

$primary-bg: #CE0D0A;

$tenant-color: #a71919;

$graph-color: #ee1010;

$small-text-color: #d13434;

$main-color: #d13434;

$nav-gradient:linear-gradient(113deg,#ffdede,rgba(255,207,207,0)) ;

